*.*
*
!*/
!/nemu/*
!/nexus-am/*
!/am-kernels/*
!/abstract-machine/*
!/fceux-am/*
!/nanos-lite/*
!/navy-apps/*
!/npc/*
!/nvboard/*
!/rt-thread-am/*
!/ysyxSoC/*
!Makefile
!README.md
!.gitignore
!init.sh
